button {
    cursor: pointer;
}

.container, .mapboxgl-map {
    height: 100vh;
    width: 100vw;
}

.stationDescription {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px 0;
    text-align: center;
    background-color: white;
}

.popup {
    background: #fff;
    padding: 5px;
    border-radius: 2px;
}

.btnWrapper {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.btnStationOpen {
    margin-bottom: 140px;
}

.btn {
    background-color: rgb(71, 144, 229);
    color: white;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #5867BC;
    outline: none;
}
